<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.zxz.mapper.InformMapper">
	    <insert id="add" parameterType="Inform">
	        insert into Inform ( i_topic,i_article,i_date,i_name ) values (#{i_topic},#{i_article},#{i_date},#{i_name})    
	    </insert>
	    
	    <delete id="delete" parameterType="Dept" >
	        delete from dept where id= #{id}   
	    </delete>
	    
	    <select id="get" parameterType="_int" resultType="Dept">
	        select * from   dept  where id= #{id}    
	    </select>

	    <update id="update" parameterType="Dept" >
	        update dept set dname=#{dname},address=#{address} where id=#{id}    
	    </update>
	    <select id="list" resultType="Dept">
	        select * from  dept      
	    </select>	    
	</mapper>

